<div class="container-fluid">
	<div class="row">
		<div class="col-md-5 column jumbotron employee-blocks">
			fdsfds
		</div>

		<div class="col-md-5 column jumbotron employee-blocks">
			dasda
		</div>
	</div>
</div>	